
<div class="main">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li class="user-list-item">
          <div class="user-list-image">
            <%= image_tag( "catboss.png", height: '150px', width: '100%', :style => "border-radius: 10px") %>
          </div>
          <div class="user-list-description">
        <%= link_to user_path(user.id) do %>
            <h2 class="user-list-name"><%= user.name %></h2>          
        <% end %>
            <p class="user-list-posts">Number of Posts: <%= user.posts_counter %></p>
          </div>
      </li>
    <% end %>
  </ul>
</div>