
<% @users.each do |user| %>
    <div class="user-container-index">
      <div class="user-image-index">
      </div>
      <div class="user-data-index">
        <%= link_to user_path(user.id) do %>
        <h2><%= user.name%></h2>
        <% end %>
        <p>Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>
  <%end%>