<nav class="navbar">
  <div class="navbar-container">
    <% if user_signed_in? %>
      <a href="/">Home</a>
    <% end %>
    <div id="navbarNav">
      <% if user_signed_in? %>
         <li class="nav-item">
           <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>
      <% end %>
    </div>
  </div>
</nav>