<div class="posts-new-comment">
  <h1>New Post</h1>
  <div class="posts-new-form">
    <%= form_with model: @post, url: user_posts_path, scope: :post do |form| %>
      <div class="text-area">
        <%= form.text_field :title, placeholder: 'Post Title', required: true, class:"text-form" %>
      </div>
      <div>
        <%= form.text_area :text, placeholder: 'Enter your post here...', rows:14, cols:40, required: true, class:"text-area" %>
      </div>
      <div class="create-post-button button-class2">
        <%= form.submit "Create Post" %>
      </div> 
    <% end %>
  </div>
</div>