* {
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.new_user {
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.field {
  width: 100%;
}

.input-field > input {
  width: 100%;
}

.remember-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.remember-field > * {
  margin: 0 10px;
}