body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.user-list-item {
  display: flex;
  position: relative;
  height: 150px;
  margin: 20px 0;
}

.user-list-image {
  border: 1px solid #000;
  border-radius: 10px;
}

.user-list-description {
  border: 1px solid #000;
  border-radius: 30px;
  margin-left: 20px;
  width: 100%;
  padding: 10px;
}

.user-list-posts {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.user-show-container {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
}

.user-show-header {
  display: flex;
}

.user-show-image {
  margin: 10px 0;
}

.user-show-description {
  padding: 10px;
  margin: 10px 0 10px 20px;
  border: 1px solid #000;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.user-show-posts {
  position: absolute;
  right: 50px;
  bottom: 10px;
}

.user-info-container {
  margin: 20px 0;
}

.user-bio {
  border: 1px solid #000;
  padding: 20px;
}

.user-posts-lists {
  padding: 0;
}

.user-posts-lists > li {
  border: 1px solid #000;
  margin: 10px 0;
  padding: 20px;
  position: relative;
}

.user-posts-lists-c-l {
  display: flex;
  position: absolute;
  right: 50px;
  bottom: 10px;
}

.user-posts-lists-c-l > * {
  margin: 0 20px;
}

.see-posts-button {
  align-self: center;
  justify-self: center;
}

.button-class {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 15px;
  box-shadow: 1px 5px 1px 1px #000;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}
